<% layout('player_layout') -%>
      <h1>RabbitMQ Tutorials</h1>
      <div class="row">
        <h2>Consumers and Producers</h2>
        <div id="sim" class="span12">
<p>
In id leo metus, pulvinar facilisis ipsum. Suspendisse lobortis risus sit amet leo commodo in ullamcorper purus adipiscing. Donec tempor nisl a nibh luctus et tincidunt lectus ultrices. Donec eu massa eu odio eleifend pellentesque sit amet quis lorem. Vestibulum ac mi non neque bibendum condimentum. Cras vitae nisi lacinia nunc viverra mollis at at massa. Vivamus ut nisl eu erat egestas tempor sit amet non dolor. Integer et tellus sapien, scelerisque interdum tortor.</p>
<p>Pellentesque lacinia posuere est, a suscipit diam rhoncus ac. Aliquam erat volutpat. Morbi elementum tempus urna, sed feugiat libero faucibus et. Pellentesque iaculis cursus erat quis rutrum. Nullam at quam et massa consequat blandit. Duis convallis semper lectus quis suscipit. Phasellus ac diam mauris. Phasellus sit amet commodo lacus.</p>
	  <canvas id="t1_s1" data-processing-sources="js/Simulator.pde"
		  width="800" height="410">
	    <p>Your browser does not support the canvas tag.</p>
	  </canvas>
	  <noscript>
	    <p>JavaScript is required to view the contents of this page.</p>
	  </noscript>
        </div>
      </div>
      <div class="row">
        <h2>RabbitMQ Publish/Subscribe</h2>
        <div id="sim" class="span12">
<p>
In id leo metus, pulvinar facilisis ipsum. Suspendisse lobortis risus sit amet leo commodo in ullamcorper purus adipiscing. Donec tempor nisl a nibh luctus et tincidunt lectus ultrices. Donec eu massa eu odio eleifend pellentesque sit amet quis lorem. Vestibulum ac mi non neque bibendum condimentum. Cras vitae nisi lacinia nunc viverra mollis at at massa. Vivamus ut nisl eu erat egestas tempor sit amet non dolor. Integer et tellus sapien, scelerisque interdum tortor.</p>
<p>Pellentesque lacinia posuere est, a suscipit diam rhoncus ac. Aliquam erat volutpat. Morbi elementum tempus urna, sed feugiat libero faucibus et. Pellentesque iaculis cursus erat quis rutrum. Nullam at quam et massa consequat blandit. Duis convallis semper lectus quis suscipit. Phasellus ac diam mauris. Phasellus sit amet commodo lacus.</p>
	  <canvas id="t1_s2" data-processing-sources="js/Simulator.pde"
		  width="800" height="410">
	    <p>Your browser does not support the canvas tag.</p>
	  </canvas>
	  <noscript>
	    <p>JavaScript is required to view the contents of this page.</p>
	  </noscript>
<p>
In id leo metus, pulvinar facilisis ipsum. Suspendisse lobortis risus sit amet leo commodo in ullamcorper purus adipiscing. Donec tempor nisl a nibh luctus et tincidunt lectus ultrices. Donec eu massa eu odio eleifend pellentesque sit amet quis lorem. Vestibulum ac mi non neque bibendum condimentum. Cras vitae nisi lacinia nunc viverra mollis at at massa. Vivamus ut nisl eu erat egestas tempor sit amet non dolor. Integer et tellus sapien, scelerisque interdum tortor.</p>
<p>Pellentesque lacinia posuere est, a suscipit diam rhoncus ac. Aliquam erat volutpat. Morbi elementum tempus urna, sed feugiat libero faucibus et. Pellentesque iaculis cursus erat quis rutrum. Nullam at quam et massa consequat blandit. Duis convallis semper lectus quis suscipit. Phasellus ac diam mauris. Phasellus sit amet commodo lacus.</p>
        </div>
      </div>
